amplify/backend/custom/homethermostatScheduleStateChange/homethermostatScheduleStateChange-cloudformation-template.yml
AWSTemplateFormatVersion: "2010-09-09"
Description: >-
  {"createdOn":"Mac","createdBy":"Amplify","createdWith":"7.6.12","stackType":"custom-customCloudformation","metadata":{}}
Parameters:
  env:
    Type: String
  functionhomethermostatChangeStateName:
    Type: String
  functionhomethermostatChangeStateArn:
    Type: String
  functionhomethermostatChangeStateRegion:
    Type: String
  functionhomethermostatChangeStateLambdaExecutionRole:
    Type: String
  functionhomethermostatStartScheduleStateChangeArn:
    Type: String
    Default: arn:aws:lambda:eu-west-1:056402289766:function:homethermostatStartScheduleStateChange-dev
  stepFunctionsS3Bucket:
    Type: String
    Default: arn:aws:s3:::otisliddy-homethermostat
Resources:
  scheduleHeatingChangeRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - states.amazonaws.com
            Action:
              - sts:AssumeRole
      Policies:
        - PolicyName: scheduleHeatingChangeInvokeLambda
          PolicyDocument:
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - Ref: functionhomethermostatChangeStateArn
                  - Ref: functionhomethermostatStartScheduleStateChangeArn
  scheduleHeatingChange:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      RoleArn:
        Fn::GetAtt:
          - scheduleHeatingChangeRole
          - Arn
      StateMachineName: schedule-heating-change
      Definition:
        Comment: State machine for changing the heating mode of the Arduino.
        StartAt: WaitBeforeTurnOn
        States:
          WaitBeforeTurnOn:
            Type: Wait
            SecondsPath: $.startWaitSeconds
            Next: TurnOn
          TurnOn:
            Type: Task
            Resource:
              Ref: functionhomethermostatChangeStateArn
            Parameters:
              executionArn.$: $$.Execution.Id
              thingName.$: $.thingName
              mode: ON
              recurring.$: $.recurring
              startTime.$: $.startTime
              durationSeconds.$: $.durationSeconds
            ResultPath: $.turnOnResult
            Next: WaitBeforeTurnOff
          WaitBeforeTurnOff:
            Type: Wait
            SecondsPath: $.durationSeconds
            Next: TurnOff
          TurnOff:
            Type: Task
            Resource:
              Ref: functionhomethermostatChangeStateArn
            Parameters:
              executionArn.$: $$.Execution.Id
              thingName.$: $.thingName
              mode: OFF
              recurring.$: $.recurring
              startTime.$: $.startTime
            ResultPath: $.turnOffResult
            Next: CheckIfRecurring
          CheckIfRecurring:
            Type: Choice
            Choices:
              - Variable: $.recurring
                BooleanEquals: true
                Next: RescheduleRecurring
            Default: Done
          RescheduleRecurring:
            Type: Task
            Resource:
              Ref: functionhomethermostatStartScheduleStateChangeArn
            Parameters:
              thingName.$: $.thingName
              recurring.$: $.recurring
              startTime.$: $.startTime
              durationSeconds.$: $.durationSeconds
            End: true
          Done:
            Type: Pass
            End: true
