amplify/backend/custom/homethermostatScheduleStateChange/homethermostatScheduleStateChange-cloudformation-template.yml
AWSTemplateFormatVersion: "2010-09-09"
Description: >-
  {"createdOn":"Mac","createdBy":"Amplify","createdWith":"7.6.12","stackType":"custom-customCloudformation","metadata":{}}
Parameters:
  env:
    Type: String
  functionhomethermostatChangeStateName:
    Type: String
  functionhomethermostatChangeStateArn:
    Type: String
  functionhomethermostatChangeStateRegion:
    Type: String
  functionhomethermostatChangeStateLambdaExecutionRole:
    Type: String
  functionhomethermostatStartScheduleStateChangeArn:
    Type: String
    Default: arn:aws:lambda:eu-west-1:056402289766:function:homethermostatStartScheduleStateChange-dev
  stepFunctionsS3Bucket:
    Type: String
    Default: arn:aws:s3:::otisliddy-homethermostat
Resources:
  scheduleHeatingChangeRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - states.amazonaws.com
            Action:
              - sts:AssumeRole
      Policies:
        - PolicyName: scheduleHeatingChangeInvokeLambda
          PolicyDocument:
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - Ref: functionhomethermostatChangeStateArn
                  - Ref: functionhomethermostatStartScheduleStateChangeArn
  scheduleHeatingChange:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      RoleArn:
        Fn::GetAtt:
          - scheduleHeatingChangeRole
          - Arn
      StateMachineName: schedule-heating-change
      Definition:
        Comment: State machine for changing the heating mode of the Arduino.
        StartAt: InitializeState
        States:
          InitializeState:
            Type: Pass
            Parameters:
              heatingChanges.$: $
              recurring.$: $[0].recurring
              startTime.$: $[0].startTime
              durationSeconds.$: $[1].waitSeconds
            Next: Wait
          Wait:
            Type: Wait
            SecondsPath: $.heatingChanges[0].waitSeconds
            Next: ChangeState
          ChangeState:
            Type: Task
            Resource:
              Ref: functionhomethermostatChangeStateArn
            Parameters:
              executionArn.$: $$.Execution.Id
              heatingChanges.$: $.heatingChanges
              recurring.$: $.recurring
              startTime.$: $.startTime
              durationSeconds.$: $.durationSeconds
            Next: ContinueExecuting?
          ContinueExecuting?:
            Type: Choice
            Choices:
              - Variable: $.heatingChanges[0]
                IsPresent: true
                Next: PrepareNextIteration
            Default: CheckIfRecurring
          PrepareNextIteration:
            Type: Pass
            Next: Wait
          CheckIfRecurring:
            Type: Choice
            Choices:
              - Variable: $.recurring
                BooleanEquals: true
                Next: RescheduleRecurring
            Default: Done
          RescheduleRecurring:
            Type: Task
            Resource:
              Ref: functionhomethermostatStartScheduleStateChangeArn
            Parameters:
              recurring.$: $.recurring
              startTime.$: $.startTime
              thingName.$: $.thingName
              waitSeconds.$: $.waitSeconds
              durationSeconds.$: $.durationSeconds
            End: true
          Done:
            Type: Pass
            End: true
